<% content_for :head do %>
    <%= javascript_include_tag 'homemap' %>
    <%= javascript_include_tag 'topojson.v1.min' %>
<% end %>
<div class="boxcontainer">
  <div class="boxpanel">
    <div class="box" id="boxmission">
      <div class="textbox">
        <div id="flashContent">
          <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="100%" height="100%" id="Quadrop" align="left">
            <param name="movie" value="Quadrop.swf" />
            <param name="quality" value="high" />
            <param name="bgcolor" value="#ffffff" />
            <param name="play" value="true" />
            <param name="loop" value="true" />
            <param name="wmode" value="direct" />
            <param name="scale" value="showall" />
            <param name="menu" value="true" />
            <param name="devicefont" value="false" />
            <param name="salign" value="" />
            <param name="allowScriptAccess" value="sameDomain" />
            <!--[if !IE]>-->
            <object type="application/x-shockwave-flash" data="Quadrop.swf" width="100%" height="100%">
              <param name="movie" value="Quadrop.swf" />
              <param name="quality" value="high" />
              <param name="bgcolor" value="#ffffff" />
              <param name="play" value="true" />
              <param name="loop" value="true" />
              <param name="wmode" value="direct" />
              <param name="scale" value="showall" />
              <param name="menu" value="true" />
              <param name="devicefont" value="false" />
              <param name="salign" value="" />
              <param name="allowScriptAccess" value="sameDomain" />
              <!--<![endif]-->
              <a href="http://www.adobe.com/go/getflash">
                <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
              </a>
              <!--[if !IE]>-->
            </object>
            <!--<![endif]-->
          </object>
        </div>
      </div>
    </div>
    <div class="box" id="boxnewsfeed">
      <%= render 'layouts/navigation' %>
      <div id="crossoverlay"></div>
      <div id="boxoverlay"></div>
      <div id="picturebox"></div>
      <div id="closebutton"></div>
      <div id="map-canvas"></div>
    </div>
    <div class="box" id="boxkit">
      <div class="textbox">
        <div class="requestkitoverlay">
            <div class="requestkitcontainer">
              <div class="requestkitbutton">
                Request Kits
              </div>
              <div class="requestkitform">
                <div class="formrow">Name:</div>
                <div class="formrow">Address:</div>
                <div class="formrow">City:</div>
                <div class="formrow">Country:</div>
                <div class="kitformbigtext">How many do you need?</div>
                <div id="slider"></div>
                <div id="amount"></div>
                <div class="kitsubmit"></div>
              </div>
            </div>
        </div>
        <%= video_tag ["DemoMainV2_webLQ.mp4","DemoMainV2_web.webm"], :controls => false, :autoplay=>true, :muted=>true, :id=>'kitvideo', :loop=>true %>
      </div>

    </div>
    <div class="box" id="boxdata">
      <div class="textbox">
        <%= image_tag ("test/data.png"), :id=>'exportdataimg'%>
        <div id="showreel"></div>
      </div>
    </div>
    <div class="box" id="boxsignin">


        <%= image_tag ("test/signin.png"), :id=>'exportdataimg'%>


      <!---->
    </div>
  </div>
</div>