/*****************************
 * Carolyn Yang (c) 2014
 * Do not copy or redistribute
 */

// Window resizing needs
var w = window,
    d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0];
// URL history
var stateObj;
// Scrolling need
var isMoving = false;

// Map config object
var bwConfig = new Object();
bwConfig.xResolution = 60;
bwConfig.yResolution = 40;

var bgStore = new Object();

/* Main stage program starts here */
var url;

var map;
var geocoder;
var marker;
//
function initialize() {
    geocoder = new google.maps.Geocoder();

    var mapStyle = [ { "featureType": "landscape.man_made", "stylers": [ { "visibility": "off" } ] },{ "featureType": "poi", "stylers": [ { "visibility": "off" } ] },{ "featureType": "transit", "stylers": [ { "visibility": "off" } ] },{ "featureType": "landscape.natural", "stylers": [ { "color": "#fcfcfc" } ] },{ },{ "featureType": "road", "stylers": [ { "saturation": -100 } ] },{ "featureType": "water", "stylers": [ { "color": "#daedff" } ] },{ "elementType": "labels", "stylers": [ { "lightness": 26 } ] },{ } ];
    var myLatlng = new google.maps.LatLng(-25.363882,131.044922);

    var mapOptions = {
        zoom: 4,
        disableDefaultUI: true,
        center: myLatlng,
        styles: mapStyle
    };

    map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
    marker = new google.maps.Marker({
        map: map,
        anchorPoint: new google.maps.Point(0, 0)
    });
    marker.setIcon(/** @type {google.maps.Icon} */({
        url: '<%= asset_path 'marker.png' %>',
        size: new google.maps.Size(30, 26),
        origin: new google.maps.Point(0, 0),
        anchor: new google.maps.Point(15, 26),
        scaledSize: new google.maps.Size(30, 26),
        animation: google.maps.Animation.DROP
    }));

}

function loadScript() {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDQLZ-U3WnaDM6IoWVrM90P9sFswn2xbVg&sensor=false&' +
            'libraries=places&callback=initialize';
    document.body.appendChild(script);
}


//
function setupBox(){
    width = window.innerWidth;
    height = window.innerHeight;
    // Setup each box to match page
    $(".box").height(height);
    $(".box").width(width);
    $(".boxpanel").height(height*$(".box").length);
}

function moveBoxToIndex(targetIndex)
{
    $("#closebutton").fadeOut();
    $("#picturebox").fadeOut(400,function(){
        $("#picturebox").html('');
    });
    //
    height = window.innerHeight;

    $( ".boxpanel" ).animate({
        top : - targetIndex * height
    }, 1000);

    var offset = $(".menubuttoncontainer").offset();
    var buttonHeight = $(".menubutton").first().outerHeight();
    $( ".menuhighlight" ).animate({
        top : offset.top + buttonHeight * targetIndex
    }, 1000);
    // Menu icons
    // Reset all icons to gray

    $(".menubutton").children(".menubuttonicon").removeClass("menubuttonblue0 menubuttonblue1 menubuttonblue2 menubuttonblue3 menubuttonblue4");
    // blue icon

    $($(".menubutton")[targetIndex]).children(".menubuttonicon").addClass("menubuttonblue"+targetIndex);
    // reset all text
    $(".menubuttontext").removeClass("menubuttontextactive");
    //blue text

    $($(".menubutton")[targetIndex]).children(".menubuttontext").addClass("menubuttontextactive");
}

function setupFormsAndLinks(){
    $(document).on("click","#boxoverlay a[href]",function(e){
        $("#boxoverlay").load(e.target.href, function(){
            console.log("new page loaded");
        });
        return false;
    });
    // Picture box
    $(document).on("click",".imagethumb",function(e){
        var postPos = $("#boxoverlay").offset();


        var img = $("<img />").attr('src', e.target.parentNode.href)
                .load(function() {
                    if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
                        alert('broken image!');
                    } else {
                        $("#picturebox").hide();
                        $("#picturebox").html('<span class="helper"></span>');

                        if($("#boxoverlay").offset().left>window.innerWidth/2)
                        {
                            $("#picturebox").css({top: 80, left: (180)});
                            $("#picturebox").innerWidth(window.innerWidth -  1000);
                        }else{
                            $("#picturebox").css({top: 80, left: (postPos.left + 540)});
                            $("#picturebox").innerWidth(window.innerWidth - postPos.left - 600);
                        }

                        $("#picturebox").innerHeight(window.innerHeight - 120);

                        $("#picturebox").append(img);
                        $("#picturebox").fadeIn();
                        $("#closebutton").hide();
                        var closeOffset = $("#picturebox img").offset();

                        console.log(closeOffset);
                        $("#closebutton").css({top: closeOffset.top-10, left:closeOffset.left-10});
                        $("#closebutton").fadeIn();
                    }
                });



        return false;
    });
    // Close image
    $(document).on("click","#closebutton",function(e){
        $("#closebutton").fadeOut();
        $("#picturebox").fadeOut(400,function(){
            $("#picturebox").html('');
        });

    });
    // My post click
    $(document).on("click",".mypostrow",function(e){
        var data_element = $(e.target).closest(".mypostrow").children(".datacontainer").html();
        // data_element is the post id
        loadPostUrl(data_element);
        history.pushState(stateObj, "post "+data_element, "/l/"+data_element);
    });
    // Request kit click
    $(document).on("click",".requestkitbutton",function(e){
        $( ".requestkitform" ).slideToggle();
    });
    $(document).on("click",".kitsubmit",function(e){
        $( ".requestkitform" ).slideToggle();
    });
}

function setupNavLinkClick(){
    // Main menu on left
    $(".menubutton").click(function(event){
        var targetBoxIndex =$(".menubutton").index($(event.target).closest($(".menubutton")));
        moveBoxToIndex(targetBoxIndex);
    });
    // New feed page navigation
    $(".navmid li").click(function(event){
        event.preventDefault();
        url = event.target.href;
        if(!url){
            url = $(event.target).children(":first")[0].href;
        }
        var t = $(event.target).closest("li");

        $.ajax( url )
                .done(function(result) {
                    $("#boxoverlay").html(result);
                    $("#boxoverlay").slideDown("slow");
                    console.log("new page loaded, applying fullpage scroll");
                    resizeBoxOverlay();
                    $('#fullpage').fullpage(
                            {verticalCentered:false,
                                navigation:false,
                                normalScrollElements: '#map-canvas, .scrollpanel',
                                scrollOverflow: true,
                                afterLoad: renderPostGraph,
                                afterRender: renderPostGraph
                            });
                    setupLocationComplete();
                    renderPostGraph(null, 0);
                })
                .fail(function(result) {
                    $("#boxoverlay").load("/users/sign_in");
                    $("#boxoverlay").slideDown("slow");
                })
                .always(function() {
                    $("#boxoverlay").css({ top: 35, left: t.offset().left -140 });
                });
    });
}

function loadPostUrl(postid) {
    var url = "/posts/list/"+postid;

    $.ajax( url )
            .done(function(result) {
                $("#boxoverlay").html(result);
                $("#boxoverlay").slideDown("slow");
                console.log("new page loaded, applying fullpage scroll");
                resizeBoxOverlay();
                $('#fullpage').fullpage(
                        {verticalCentered:false,
                            navigation:true,
                            normalScrollElements: '#map-canvas, .scrollpanel',
                            scrollOverflow: true,
                            afterLoad: renderPostGraph,
                            afterRender: renderPostGraph
                        });
                setupLocationComplete();
                renderPostGraph(null, 0);
            })
            .fail(function(result) {
                $("#boxoverlay").load("/users/sign_in");
                $("#boxoverlay").slideDown("slow");
            })
            .always(function() {
                $("#boxoverlay").css({ top: 35, left: $("nav").find("li").last().offset().left - 140 });
            });
}

function resizeBoxOverlay()
{
    $("#boxoverlay").innerHeight(window.innerHeight-35);
}

function offsetCenter(latlng,offsetx,offsety) {

// latlng is the apparent centre-point
// offsetx is the distance you want that point to move to the right, in pixels
// offsety is the distance you want that point to move upwards, in pixels
// offset can be negative
// offsetx and offsety are both optional
    map.setZoom(6);
    var scale = Math.pow(2, map.getZoom());
    var nw = new google.maps.LatLng(
            map.getBounds().getNorthEast().lat(),
            map.getBounds().getSouthWest().lng()
    );

    var worldCoordinateCenter = map.getProjection().fromLatLngToPoint(latlng);
    var pixelOffset = new google.maps.Point((offsetx/scale) || 0,(offsety/scale) ||0)

    var worldCoordinateNewCenter = new google.maps.Point(
            worldCoordinateCenter.x - pixelOffset.x,
            worldCoordinateCenter.y + pixelOffset.y
    );

    var newCenter = map.getProjection().fromPointToLatLng(worldCoordinateNewCenter);

    map.panTo(newCenter);
    marker.setPosition(latlng);
}

function setupLocationComplete(){
    if(!$("#post_location").length){ return;} // Can't find input
    var input = /** @type {HTMLInputElement} */(
            document.getElementById('post_location'));
    var autocomplete = new google.maps.places.Autocomplete(input);
    autocomplete.bindTo('bounds', map);
    //
    //var infowindow = new google.maps.InfoWindow();


    google.maps.event.addListener(autocomplete, 'place_changed', function() {
        //infowindow.close();
        marker.setVisible(false);
        var place = autocomplete.getPlace();
        if (!place.geometry) {
            return;
        }

        // If the place has a geometry, then present it on a map.
        if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
        } else {
            map.setCenter(place.geometry.location);
            map.setZoom(14);  // Why 17? Because it looks good.
        }
        offsetCenter(place.geometry.location,400);

        marker.setPosition(place.geometry.location);
        marker.setVisible(true);

        var address = '';
        if (place.address_components) {
            address = [
                (place.address_components[0] && place.address_components[0].short_name || ''),
                (place.address_components[1] && place.address_components[1].short_name || ''),
                (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
        }

        //infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
        //infowindow.open(map, marker);
    });



}

function renderPostGraph(anchorLink, index) {
    $("#closebutton").hide();
    $("#picturebox").fadeOut(1000,function(){
        $("#picturebox").html('');
    });

    console.log("Render graph");
    var target = $(".section")[index - 1];
    var data_element = $(target).find(".datacontainer").html();
    if(!data_element) {
        //Try finding the first one
        data_element = $(".datacontainer").first().html();
        console.log("Data_element:");
        console.log(data_element);
        if(!data_element) {
            // return if still can't find anything.
            return false;
        }else{
            target = $(".datacontainer").parent();
        }
    };
    // Set locations
    try{
        var data = JSON.parse(data_element);
        var svg_node = $(target).find("#grapharea");
        $(svg_node).html("");
        //init
        var cScale = d3.scale.linear().domain([0, 360]).range([0, 2 * Math.PI]);

        var vis = d3.select(svg_node[0]);

        //cholera_o1
        var plotData = new Array();
        switch(data["cholera_o1"]){
            case 2:
                plotData.push({color: "#2B3990"});
                break;
            case 1:
                plotData.push({color: "#EEEEEE"});
                break;
            default:
                plotData.push({color: "#EEEEEE"});

        }
        switch(data["cholera_o139"]){
            case 2:
                plotData.push({color: "#2B3990"});
                break;
            case 1:
                plotData.push({color: "#EEEEEE"});
                break;
            default:
                plotData.push({color: "#EEEEEE"});

        }
        console.log("plot data");

        var cholera_group = vis.append("g");

        var arc = d3.svg.arc()
                ;

        var pie = d3.layout.pie()
                .startAngle(-120/180*Math.PI)
                .endAngle(120/180*Math.PI)
                .value(function() { return 1; });

        var g = cholera_group.selectAll()
                .append("g");


        g.data(pie(plotData))
                .enter().append("path")
                .style("fill", function(d) { return d.data.color; })
                .attr("transform", "translate(120,80)")
                .transition().delay(function(d, i) { return i * 600; }).duration(600)
                .ease("linear")
                .attrTween('d', function(d) {
                    var i = d3.interpolate(d.startAngle+0, d.endAngle);
                    return function(t) {
                        d.endAngle = i(t);
                        return arc(d);
                    }
                });

        console.log("Append image");
        cholera_group.selectAll("image")
                .data([0])
                .enter()
                .append("image")
                .attr("xlink:href", '<%= asset_path 'cholera.png' %>')
                .attr("x", "90")
                .attr("y", "100")
                .attr("width", "60")
                .attr("height", "60");

        if(data["cholera_o1"]=="0" && data["cholera_o139"]=="0")
        {
            var label = "SAFE";
        }else if (data["cholera_o1"]>1 || data["cholera_o139"]>1)
        {
            var label = "RISK";
        }else{
            var label = "SAFE";
        }
        cholera_group
                .append("text")
                .attr("x", "98")
                .attr("y", "85")
                .style("font-size","12pt")
                .text(label);
        //nitrite
        plotData = undefined;
        plotData = new Array();
        var count = data["nitrite"];
        plotData.push({color:"#F1E5EA"});
        if(count > 5) {
            plotData.push({color:"#F3DDE7"});
        }
        if(count > 4) {
            plotData.push({color:"#F4CADF"});
        }
        if(count > 3) {
            plotData.push({color:"#E6AACD"});
        }
        if(count > 2) {
            plotData.push({color:"#DC85B7"});
        }

        if(count > 1) {
            plotData.push({color:"#CD539E"});
        }
        for(var i = (6-count);i>0;i--)
        {
            plotData.push({color:"#EEEEEE"});
        }

        var nitrite_group = vis.append("g");

        var arc = d3.svg.arc();

        var pie = d3.layout.pie()
                .startAngle(-120/180*Math.PI)
                .endAngle(120/180*Math.PI)
                .value(function() { return 1; });

        var g = nitrite_group.selectAll()
                .data(pie(plotData))
                .enter().append("g");

        g.append("path")
                .style("fill", function(d) { return d.data.color; })
                .attr("transform", "translate(350,80)")
                .transition().delay(function(d, i) { return i * 200; }).duration(200)
                .ease("linear")
                .attrTween('d', function(d) {
                    var i = d3.interpolate(d.startAngle+0, d.endAngle);
                    return function(t) {
                        d.endAngle = i(t);
                        return arc(d);
                    }
                });

        console.log("Append image");
        nitrite_group.selectAll("image")
                .data([0])
                .enter()
                .append("image")
                .attr("xlink:href", '<%= asset_path 'nitrite.png' %>')
                .attr("x", "321")
                .attr("y", "100")
                .attr("width", "60")
                .attr("height", "60");

        if(data["nitrite"] >= 3)
        {
            var label = "RISK";
        }else{
            var label = "SAFE";
        }
        nitrite_group
                .append("text")
                .attr("x", "330")
                .attr("y", "85")
                .style("font-size","12pt")
                .text(label);
        nitrite_group
                .append("text")
                .attr("x", "334")
                .attr("y", "50")
                .style("font-size","8pt")
                .text(data["nitrite"]+ " ppm");
        //coliform
        var plotData = new Array();
        switch(data["coliform"]){
            case 2:
                plotData.push({color: "#F6ED7F"});
                plotData.push({color: "#EEEEEE"});
                break;
            case 1:
                plotData.push({color: "#EEEEEE"});
                plotData.push({color: "#4CC1BC"});
                break;
            default:
                plotData.push({color: "#EEEEEE"});
                plotData.push({color: "#EEEEEE"});

        }

        console.log("plot data");

        var coliform_group = vis.append("g");

        var arc = d3.svg.arc();

        var pie = d3.layout.pie()
                .startAngle(-120/180*Math.PI)
                .endAngle(120/180*Math.PI)
                .value(function() { return 1; });

        var g = cholera_group.selectAll()
                .data(pie(plotData))
                .enter().append("g");


        g.append("path")
                .style("fill", function(d) { return d.data.color; })
                .attr("transform", "translate(120,250)")
                .transition().delay(function(d, i) { return i * 600; }).duration(600)
                .ease("linear")
                .attrTween('d', function(d) {
                    var i = d3.interpolate(d.startAngle+0, d.endAngle);
                    return function(t) {
                        d.endAngle = i(t);
                        return arc(d);
                    }
                });

        console.log("Append image");
        coliform_group.selectAll("image")
                .data([0])
                .enter()
                .append("image")
                .attr("xlink:href", '<%= asset_path 'coliform.png' %>')
                .attr("x", "90")
                .attr("y", "270")
                .attr("width", "60")
                .attr("height", "60");

        if(data["coliform"]!=0)
        {
            var label = "RISK";
        }else{
            var label = "SAFE";
        }
        coliform_group
                .append("text")
                .attr("x", "100")
                .attr("y", "255")
                .style("font-size","12pt")
                .text(label);

        //arsenic
        plotData = undefined;
        plotData = new Array();
        var count = data["arsenic"];
        plotData.push({color:"#F2E9AC"});
        if(count > 5) {
            plotData.push({color:"#EED772"});
        }
        if(count > 4) {
            plotData.push({color:"#E8BC22"});
        }
        if(count > 3) {
            plotData.push({color:"#E89427"});
        }
        if(count > 2) {
            plotData.push({color:"#CD6631"});
        }

        if(count > 1) {
            plotData.push({color:"#793C2C"});
        }
        for(var i = (6-count);i>0;i--)
        {
            plotData.push({color:"#EEEEEE"});
        }

        var arsenic_group = vis.append("g");

        var arc = d3.svg.arc()
                .innerRadius(50)
                .outerRadius(70);

        var pie = d3.layout.pie()
                .startAngle(-120/180*Math.PI)
                .endAngle(120/180*Math.PI)
                .value(function() { return 1; });

        var g = arsenic_group.selectAll()
                .data(pie(plotData))
                .enter().append("g");

        g.append("path")
                .style("fill", function(d) { return d.data.color; })
                .attr("transform", "translate(350,250)")
                .transition().delay(function(d, i) { return i * 200; }).duration(200)
                .ease("linear")
                .attrTween('d', function(d) {
                    var i = d3.interpolate(d.startAngle+0, d.endAngle);
                    return function(t) {
                        d.endAngle = i(t);
                        return arc(d);
                    }
                });

        console.log("Append image");
        arsenic_group.selectAll("image")
                .data([0])
                .enter()
                .append("image")
                .attr("xlink:href", '<%= asset_path 'arsenic.png' %>')
                .attr("x", "322")
                .attr("y", "270")
                .attr("width", "60")
                .attr("height", "60");
        if(data["arsenic"] >= 2)
        {
            var label = "RISK";
        }else{
            var label = "SAFE";
        }
        arsenic_group
                .append("text")
                .attr("x", "330")
                .attr("y", "255")
                .style("font-size","12pt")
                .text(label);
        arsenic_group
                .append("text")
                .attr("x", "334")
                .attr("y", "220")
                .style("font-size","8pt")
                .text(data["arsenic"]+ " ppm");

        // Draw line graph
        var line_group = vis.append("g");

        // define dimensions of graph
        var g_width = 410; // width
        var g_height = 120; // height

        // scaling functions
        var mapx = d3.scale.linear().domain([0, 6]).range([0, g_width]);
        var mapy = d3.scale.linear().domain([0, 10]).range([g_height, 0]);

        var linefunc = d3.svg.line()
                .x(function (d, i) {
                    return mapx(i);
                })
                .y(function (d) {
                    return mapy(d);
                })
                .interpolate("basis");

        line_group.attr("transform", "translate(30,340)");
        // create left yAxis
        var yAxisLeft = d3.svg.axis().scale(mapy).ticks(4).orient("right")
                .tickFormat(function (d) {
                    return d === 10
                            ? d + " million people"
                            : d;
                });
        // Add the y-axis to the left
        line_group.append("g")
                .attr("class", "y axis")
                .attr("transform", "translate(0,0)")
                .call(yAxisLeft);

        var xAxis = d3.svg.axis().scale(mapx).ticks(6).orient("bottom")
                .tickFormat(function (d) {
                    return d === 0
                            ? "Risk scale"
                            : d;
                });
        // Add the x-axis to the bottom
        line_group.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + g_height + ")")
                .call(xAxis);
        //  line
        plotData = [[3, 4, 6, 7, 5, 2, 1],[2, 2, 3, 4, 7, 6, 4],[2, 8, 6, 4, 3, 2, 1],[2, 4, 6, 8, 6, 4, 1]];
        var plotColor = ["#2B3990","#CD539E", "#47C4BE", "#E8942A"];
        for (var i = 0; i<plotData.length; i++)
        {
            var temp_group = line_group.append("g");
            var line_temp = temp_group.append("path")
                    .attr("d",linefunc(plotData[i]))
                    .style("stroke-width","2")
                    .style("stroke",plotColor[i])
                    .style("fill","none");
            var totalLength = line_temp.node().getTotalLength();
            line_temp
                    .attr("stroke-dasharray", totalLength + " " + totalLength)
                    .attr("stroke-dashoffset", totalLength)
                    .transition()
                    .delay(i*500)
                    .duration(1000)
                    .ease("cubic-out")
                    .attr("stroke-dashoffset", 0);
        }


        //set locations
        var address = data["location"];
        geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                console.log("Geocode");
                offsetCenter(results[0].geometry.location,400);

            } else {
                console.log("Geocode was not successful for the following reason: " + status);
            }
        });

    }catch(err){
        console.log(err);
    }

}

function resizeVideo()
{
    var videowidth = $("#boxkit").width();
    var videoheight = $("#boxkit").height();
    if(videoheight > (videowidth/1280*720))
    {
        //stretch height;
        $("#kitvideo").height(videoheight);
    }
    else{
        //stretch width;
        $("#kitvideo").width(videowidth-140);
    }

}

function setupUI()
{

        $( "#slider" ).slider({
            value:1,
            min: 0,
            max: 10,
            step: 1,
            slide: function( event, ui ) {
                $( "#amount" ).html( ui.value );
            }
        });
        $( "#amount" ).html( $( "#slider" ).slider( "value" ) );

}

function setupReel(){
    var m = [0, 200, 0, 0],
            w = window.innerWidth - m[1] - m[3],
            h = window.innerHeight - m[0] - m[2];

    var x,
            y,
            duration = 1500,
            delay = 500;

    //var color = d3.scale.category10();
    //color = d3.scale.linear().domain([0,4]).range(["red","blue"]);
    var color = d3.scale.ordinal().range(["#2B3990","#CD539E", "#47C4BE", "#E8942A"]);


    var svg = d3.select("#showreel").append("svg")
            .attr("width", w + m[1] + m[3])
            .attr("height", h + m[0] + m[2])
            .append("g")
            .attr("transform", "translate(" + m[3] + "," + m[0] + ")");

    var stocks,
            symbols;

// A line generator, for the dark stroke.
    var line = d3.svg.line()
            .interpolate("basis")
            .x(function(d) { return x(d.date); })
            .y(function(d) { return y(d.price); });

// A line generator, for the dark stroke.
    var axis = d3.svg.line()
            .interpolate("basis")
            .x(function(d) { return x(d.date); })
            .y(h);

// A area generator, for the dark stroke.
    var area = d3.svg.area()
            .interpolate("basis")
            .x(function(d) { return x(d.date); })
            .y1(function(d) { return y(d.price); });

    d3.csv("stocks.csv", function(data) {
        var parse = d3.time.format("%b %Y").parse;

        // Nest stock values by symbol.
        symbols = d3.nest()
                .key(function(d) { return d.symbol; })
                .entries(stocks = data);

        // Parse dates and numbers. We assume values are sorted by date.
        // Also compute the maximum price per symbol, needed for the y-domain.
        symbols.forEach(function(s) {
            s.values.forEach(function(d) { d.date = parse(d.date); d.price = +d.price; });
            s.maxPrice = d3.max(s.values, function(d) { return d.price; });
            s.sumPrice = d3.sum(s.values, function(d) { return d.price; });
        });

        // Sort by maximum price, descending.
        symbols.sort(function(a, b) { return b.maxPrice - a.maxPrice; });

        var g = svg.selectAll("g")
                .data(symbols)
                .enter().append("g")
                .attr("class", "symbol");

        setTimeout(lines, duration);
    });

    function lines() {
        x = d3.time.scale().range([0, w - 60]);
        y = d3.scale.linear().range([h / 4 - 20, 0]);

        // Compute the minimum and maximum date across symbols.
        x.domain([
            d3.min(symbols, function(d) { return d.values[0].date; }),
            d3.max(symbols, function(d) { return d.values[d.values.length - 1].date; })
        ]);

        var g = svg.selectAll(".symbol")
                .attr("transform", function(d, i) { return "translate(0," + (i * h / 4 + 10) + ")"; });

        g.each(function(d) {
            var e = d3.select(this);

            e.append("path")
                    .style("stroke", "#000")
                    .attr("class", "line")
                    .style("fill", "none");

            e.append("circle")
                    .attr("r", 5)
                    .style("fill", function(d) { return color(d.key); })
                    .style("stroke", "#000")
                    .style("stroke-width", "2px");

            e.append("text")
                    .attr("x", 12)
                    .attr("dy", ".31em")
                    .text(d.key);
        });

        function draw(k) {
            g.each(function(d) {
                var e = d3.select(this);
                y.domain([0, d.maxPrice]);

                e.select("path")
                        .attr("d", function(d) { return line(d.values.slice(0, k + 1)); });

                e.selectAll("circle, text")
                        .data(function(d) { return [d.values[k], d.values[k]]; })
                        .attr("transform", function(d) { return "translate(" + x(d.date) + "," + y(d.price) + ")"; });
            });
        }

        var k = 1, n = symbols[0].values.length;
        d3.timer(function() {
            draw(k);
            if ((k += 2) >= n - 1) {
                draw(n - 1);
                setTimeout(horizons, 500);
                return true;
            }
        });
    }

    function horizons() {
        svg.insert("defs", ".symbol")
                .append("clipPath")
                .attr("id", "clip")
                .append("rect")
                .attr("width", w)
                .attr("height", h / 4 - 20);

        var color = d3.scale.ordinal()
                .range(["#c6dbef", "#9ecae1", "#6baed6"]);

        var g = svg.selectAll(".symbol")
                .attr("clip-path", "url(#clip)");

        area
                .y0(h / 4 - 20);

        g.select("circle").transition()
                .duration(duration)
                .attr("transform", function(d) { return "translate(" + (w - 60) + "," + (-h / 4) + ")"; })
                .remove();

        g.select("text").transition()
                .duration(duration)
                .attr("transform", function(d) { return "translate(" + (w - 60) + "," + (h / 4 - 20) + ")"; })
                .attr("dy", "0em");

        g.each(function(d) {
            y.domain([0, d.maxPrice]);

            d3.select(this).selectAll(".area")
                    .data(d3.range(3))
                    .enter().insert("path", ".line")
                    .attr("class", "area")
                    .attr("transform", function(d) { return "translate(0," + (d * (h / 4 - 20)) + ")"; })
                    .attr("d", area(d.values))
                    .style("fill", function(d, i) { return color(i); })
                    .style("fill-opacity", 1e-6);

            y.domain([0, d.maxPrice / 3]);

            d3.select(this).selectAll(".line").transition()
                    .duration(duration)
                    .attr("d", line(d.values))
                    .style("stroke-opacity", 1e-6);

            d3.select(this).selectAll(".area").transition()
                    .duration(duration)
                    .style("fill-opacity", 1)
                    .attr("d", area(d.values))
                    .each("end", function() { d3.select(this).style("fill-opacity", null); });
        });

        setTimeout(areas, duration + delay);
    }

    function areas() {
        var g = svg.selectAll(".symbol");

        axis
                .y(h / 4 - 21);

        g.select(".line")
                .attr("d", function(d) { return axis(d.values); });

        g.each(function(d) {
            y.domain([0, d.maxPrice]);

            d3.select(this).select(".line").transition()
                    .duration(duration)
                    .style("stroke-opacity", 1)
                    .each("end", function() { d3.select(this).style("stroke-opacity", null); });

            d3.select(this).selectAll(".area")
                    .filter(function(d, i) { return i; })
                    .transition()
                    .duration(duration)
                    .style("fill-opacity", 1e-6)
                    .attr("d", area(d.values))
                    .remove();

            d3.select(this).selectAll(".area")
                    .filter(function(d, i) { return !i; })
                    .transition()
                    .duration(duration)
                    .style("fill", color(d.key))
                    .attr("d", area(d.values));
        });

        svg.select("defs").transition()
                .duration(duration)
                .remove();

        g.transition()
                .duration(duration)
                .each("end", function() { d3.select(this).attr("clip-path", null); });

        setTimeout(stackedArea, duration + delay);
    }

    function stackedArea() {
        var stack = d3.layout.stack()
                .values(function(d) { return d.values; })
                .x(function(d) { return d.date; })
                .y(function(d) { return d.price; })
                .out(function(d, y0, y) { d.price0 = y0; })
                .order("reverse");

        stack(symbols);

        y
                .domain([0, d3.max(symbols[0].values.map(function(d) { return d.price + d.price0; }))])
                .range([h, 0]);

        line
                .y(function(d) { return y(d.price0); });

        area
                .y0(function(d) { return y(d.price0); })
                .y1(function(d) { return y(d.price0 + d.price); });

        var t = svg.selectAll(".symbol").transition()
                .duration(duration)
                .attr("transform", "translate(0,0)")
                .each("end", function() { d3.select(this).attr("transform", null); });

        t.select("path.area")
                .attr("d", function(d) { return area(d.values); });

        t.select("path.line")
                .style("stroke-opacity", function(d, i) { return i < 3 ? 1e-6 : 1; })
                .attr("d", function(d) { return line(d.values); });

        t.select("text")
                .attr("transform", function(d) { d = d.values[d.values.length - 1]; return "translate(" + (w - 60) + "," + y(d.price / 2 + d.price0) + ")"; });

        setTimeout(streamgraph, duration + delay);
    }

    function streamgraph() {
        var stack = d3.layout.stack()
                .values(function(d) { return d.values; })
                .x(function(d) { return d.date; })
                .y(function(d) { return d.price; })
                .out(function(d, y0, y) { d.price0 = y0; })
                .order("reverse")
                .offset("wiggle");

        stack(symbols);

        line
                .y(function(d) { return y(d.price0); });

        var t = svg.selectAll(".symbol").transition()
                .duration(duration);

        t.select("path.area")
                .attr("d", function(d) { return area(d.values); });

        t.select("path.line")
                .style("stroke-opacity", 1e-6)
                .attr("d", function(d) { return line(d.values); });

        t.select("text")
                .attr("transform", function(d) { d = d.values[d.values.length - 1]; return "translate(" + (w - 60) + "," + y(d.price / 2 + d.price0) + ")"; });

        setTimeout(overlappingArea, duration + delay);
    }

    function overlappingArea() {
        var g = svg.selectAll(".symbol");

        line
                .y(function(d) { return y(d.price0 + d.price); });

        g.select(".line")
                .attr("d", function(d) { return line(d.values); });

        y
                .domain([0, d3.max(symbols.map(function(d) { return d.maxPrice; }))])
                .range([h, 0]);

        area
                .y0(h)
                .y1(function(d) { return y(d.price); });

        line
                .y(function(d) { return y(d.price); });

        var t = g.transition()
                .duration(duration);

        t.select(".line")
                .style("stroke-opacity", 1)
                .attr("d", function(d) { return line(d.values); });

        t.select(".area")
                .style("fill-opacity", .5)
                .attr("d", function(d) { return area(d.values); });

        t.select("text")
                .attr("dy", ".31em")
                .attr("transform", function(d) { d = d.values[d.values.length - 1]; return "translate(" + (w - 60) + "," + y(d.price) + ")"; });

        svg.append("line")
                .attr("class", "line")
                .attr("x1", 0)
                .attr("x2", w - 60)
                .attr("y1", h)
                .attr("y2", h)
                .style("stroke-opacity", 1e-6)
                .transition()
                .duration(duration)
                .style("stroke-opacity", 1);

        setTimeout(groupedBar, duration + delay);
    }

    function groupedBar() {
        x = d3.scale.ordinal()
                .domain(symbols[0].values.map(function(d) { return d.date; }))
                .rangeBands([0, w - 60], .1);

        var x1 = d3.scale.ordinal()
                .domain(symbols.map(function(d) { return d.key; }))
                .rangeBands([0, x.rangeBand()]);

        var g = svg.selectAll(".symbol");

        var t = g.transition()
                .duration(duration);

        t.select(".line")
                .style("stroke-opacity", 1e-6)
                .remove();

        t.select(".area")
                .style("fill-opacity", 1e-6)
                .remove();

        g.each(function(p, j) {
            d3.select(this).selectAll("rect")
                    .data(function(d) { return d.values; })
                    .enter().append("rect")
                    .attr("x", function(d) { return x(d.date) + x1(p.key); })
                    .attr("y", function(d) { return y(d.price); })
                    .attr("width", x1.rangeBand())
                    .attr("height", function(d) { return h - y(d.price); })
                    .style("fill", color(p.key))
                    .style("fill-opacity", 1e-6)
                    .transition()
                    .duration(duration)
                    .style("fill-opacity", 1);
        });

        setTimeout(stackedBar, duration + delay);
    }

    function stackedBar() {
        x.rangeRoundBands([0, w - 60], .1);

        var stack = d3.layout.stack()
                .values(function(d) { return d.values; })
                .x(function(d) { return d.date; })
                .y(function(d) { return d.price; })
                .out(function(d, y0, y) { d.price0 = y0; })
                .order("reverse");

        var g = svg.selectAll(".symbol");

        stack(symbols);

        y
                .domain([0, d3.max(symbols[0].values.map(function(d) { return d.price + d.price0; }))])
                .range([h, 0]);

        var t = g.transition()
                .duration(duration / 2);

        t.select("text")
                .delay(symbols[0].values.length * 10)
                .attr("transform", function(d) { d = d.values[d.values.length - 1]; return "translate(" + (w - 60) + "," + y(d.price / 2 + d.price0) + ")"; });

        t.selectAll("rect")
                .delay(function(d, i) { return i * 10; })
                .attr("y", function(d) { return y(d.price0 + d.price); })
                .attr("height", function(d) { return h - y(d.price); })
                .each("end", function() {
                    d3.select(this)
                            .style("stroke", "#fff")
                            .style("stroke-opacity", 1e-6)
                            .transition()
                            .duration(duration / 2)
                            .attr("x", function(d) { return x(d.date); })
                            .attr("width", x.rangeBand())
                            .style("stroke-opacity", 1);
                });

        setTimeout(transposeBar, duration + symbols[0].values.length * 10 + delay);
    }

    function transposeBar() {
        x
                .domain(symbols.map(function(d) { return d.key; }))
                .rangeRoundBands([0, w], .2);

        y
                .domain([0, d3.max(symbols.map(function(d) { return d3.sum(d.values.map(function(d) { return d.price; })); }))]);

        var stack = d3.layout.stack()
                .x(function(d, i) { return i; })
                .y(function(d) { return d.price; })
                .out(function(d, y0, y) { d.price0 = y0; });

        stack(d3.zip.apply(null, symbols.map(function(d) { return d.values; }))); // transpose!

        var g = svg.selectAll(".symbol");

        var t = g.transition()
                .duration(duration / 2);

        t.selectAll("rect")
                .delay(function(d, i) { return i * 10; })
                .attr("y", function(d) { return y(d.price0 + d.price) - 1; })
                .attr("height", function(d) { return h - y(d.price) + 1; })
                .attr("x", function(d) { return x(d.symbol); })
                .attr("width", x.rangeBand())
                .style("stroke-opacity", 1e-6);

        t.select("text")
                .attr("x", 0)
                .attr("transform", function(d) { return "translate(" + (x(d.key) + x.rangeBand() / 2) + "," + h + ")"; })
                .attr("dy", "1.31em")
                .each("end", function() { d3.select(this).attr("x", null).attr("text-anchor", "middle"); });

        svg.select("line").transition()
                .duration(duration)
                .attr("x2", w);

        setTimeout(donut,  duration / 2 + symbols[0].values.length * 10 + delay);
    }

    function donut() {
        var g = svg.selectAll(".symbol");

        g.selectAll("rect").remove();

        var pie = d3.layout.pie()
                .value(function(d) { return d.sumPrice; });

        var arc = d3.svg.arc();

        g.append("path")
                .style("fill", function(d) { return color(d.key); })
                .data(function() { return pie(symbols); })
                .transition()
                .duration(duration)
                .tween("arc", arcTween);

        g.select("text").transition()
                .duration(duration)
                .attr("dy", ".31em");

        svg.select("line").transition()
                .duration(duration)
                .attr("y1", 2 * h)
                .attr("y2", 2 * h)
                .remove();

        function arcTween(d) {
            var path = d3.select(this),
                    text = d3.select(this.parentNode.appendChild(this.previousSibling)),
                    x0 = x(d.data.key),
                    y0 = h - y(d.data.sumPrice);

            return function(t) {
                var r = h / 2 / Math.min(1, t + 1e-3),
                        a = Math.cos(t * Math.PI / 2),
                        xx = (-r + (a) * (x0 + x.rangeBand()) + (1 - a) * (w + h) / 2),
                        yy = ((a) * h + (1 - a) * h / 2),
                        f = {
                            innerRadius: r - x.rangeBand() / (2 - a),
                            outerRadius: r,
                            startAngle: a * (Math.PI / 2 - y0 / r) + (1 - a) * d.startAngle,
                            endAngle: a * (Math.PI / 2) + (1 - a) * d.endAngle
                        };

                path.attr("transform", "translate(" + xx + "," + yy + ")");
                path.attr("d", arc(f));
                text.attr("transform", "translate(" + arc.centroid(f) + ")translate(" + xx + "," + yy + ")rotate(" + ((f.startAngle + f.endAngle) / 2 + 3 * Math.PI / 2) * 180 / Math.PI + ")");
            };
        }

        setTimeout(donutExplode, duration + delay);
    }

    function donutExplode() {
        var r0a = h / 2 - x.rangeBand() / 2,
                r1a = h / 2,
                r0b = 2 * h - x.rangeBand() / 2,
                r1b = 2 * h,
                arc = d3.svg.arc();

        svg.selectAll(".symbol path")
                .each(transitionExplode);

        function transitionExplode(d, i) {
            d.innerRadius = r0a;
            d.outerRadius = r1a;
            d3.select(this).transition()
                    .duration(duration / 2)
                    .tween("arc", tweenArc({
                        innerRadius: r0b,
                        outerRadius: r1b
                    }));
        }

        function tweenArc(b) {
            return function(a) {
                var path = d3.select(this),
                        text = d3.select(this.nextSibling),
                        i = d3.interpolate(a, b);
                for (var key in b) a[key] = b[key]; // update data
                return function(t) {
                    var a = i(t);
                    path.attr("d", arc(a));
                    text.attr("transform", "translate(" + arc.centroid(a) + ")translate(" + w / 2 + "," + h / 2 +")rotate(" + ((a.startAngle + a.endAngle) / 2 + 3 * Math.PI / 2) * 180 / Math.PI + ")");
                };
            }
        }

        setTimeout(function() {
            svg.selectAll("*").remove();
            svg.selectAll("g").data(symbols).enter().append("g").attr("class", "symbol");
            lines();
        }, duration);
    }
}

function updateWindow(){
    x = w.innerWidth || e.clientWidth || g.clientWidth;
    y = w.innerHeight|| e.clientHeight|| g.clientHeight;
	var svg = d3.select("svg");
    svg.attr("width", x).attr("height", y);
    // Update main stage's box layouts
    setupBox();
    resizeBoxOverlay();
    resizeVideo();
}


window.onresize = updateWindow;


$( document ).ready(function() {
    updateWindow();
    setupBox();
    moveBoxToIndex(1); // 0 based i ndex
    setupNavLinkClick();
    setupFormsAndLinks();
    loadScript();
    setupUI();
    setupReel();
});