<div id="fullpage">
  <% @posts.each do |post| %>
      <div class="section">
        <div class="postwrapper">
          <div class="sectionwrapper">
            News feed
          </div>
          <div class="sectiontitle"><%= post.location || "No location" %></div>
          <div class="sectionwrapper">
            <div class="datacontainer">
              {"cholera_o1":<%= post.test_result_cholera_o1||0%>,
              "cholera_o139":<%= post.test_result_cholera_o139||0%>,
              "nitrite":<%= post.test_result_nitrite||0%>,
              "coliform":<%= post.test_result_coliform||0%>,
              "arsenic":<%= post.test_result_arsenic||0%>,
              "location":"<%= post.location||'Seattle, WA, United States'%>"}
            </div>
            <svg id="grapharea" width="600" height="400"></svg>
          </div>
          <div class="sectionwrapper">
            <div class="postcontent"><%= post.post_content %></div>
          </div>
          <div class="sectionwrapper">

                <% post.images.each do |image| %>
                <div class="thumbcontainer">
                    <%= link_to (image_tag image.file.url(:thumb)),  image.file.url, :class => "imagethumb" %>
                </div>
                <% end %>
            </div>
          </div>
      </div>
  <% end %>
</div>