<div class="sectionhead postheader">
  <div id="postsearchbox">
    <input type="text" id="searchbox">
  </div>
  <div class="filterrow">
    <div class="filterbutton icon3b rightedge"></div>
    <div class="filterbutton icon4b rightedge"></div>
    <div class="filterbutton icon5b rightedge"></div>
    <div class="filterbutton icon6b rightedge"></div>
    <div class="filterbutton iconstar"></div>
  </div>
</div>
<div id="fullpage">
  <% @posts.each do |post| %>
      <div class="section">
        <div class="postwrapper">

          <div class="sectiontitle">
            <div class="sectiontitleleft">
            <% if post.location.blank? %>
                 No location
            <% else %>
                <%= post.location %>
            <% end %>
            </div>
            <div class="postdate"><%= l(post.created_at, :format => "%m/%d/%Y") %></div>
          </div>
          <div class="sectionwrapper">
            <div class="datacontainer">
              {"cholera_o1":<%= post.test_result_cholera_o1||0%>,
              "cholera_o139":<%= post.test_result_cholera_o139||0%>,
              "nitrite":<%= post.test_result_nitrite||0%>,
              "coliform":<%= post.test_result_coliform||0%>,
              "arsenic":<%= post.test_result_arsenic||0%>,
              "location":"<%= post.location||'Seattle, WA, United States'%>"}
            </div>
            <svg id="grapharea"></svg>
          </div>
          <div class="sectionwrapper">
            <div class="postcontent"><%= post.post_content %></div>
          </div>
          <div class="sectionwrapper thumbrow">
                <% post.images.each do |image| %>
                <div class="thumbcontainer">
                    <%= link_to (image_tag image.file.url(:medium)),  image.file.url, :class => "imagethumb" %>
                </div>
                <% end %>
          </div>
          <div class="sectionwrapper sharerow">
            <span class="botbuttons favbutton"></span>
            <span class="botbuttons sharebutton"></span>

          </div>
          </div>
      </div>
  <% end %>
</div>