<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quadrop</title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Back Water02" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield :head %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="leftmenu">
      <div class="logocontainer">
        <%= image_tag("logo.png", :alt => "home image", :title => "Click here to return to Home", :id => "logo") %>

      </div>
      <div class="menuhighlight"> </div>
      <div class="menubuttoncontainer">
        <div class="menubutton">
          <div class="menubuttonicon menubuttonmission"></div>
          <div class="menubuttontext">Our Mission</div>
        </div>
        <div class="menubutton">
          <div class="menubuttonicon menubuttonnews"></div>
          <div class="menubuttontext">News Feed</div>
        </div>
        <div class="menubutton">
          <div class="menubuttonicon menubuttonkit"></div>
          <div class="menubuttontext">Request Kit</div>
        </div>
        <div class="menubutton">
          <div class="menubuttonicon menubuttonexport"></div>
          <div class="menubuttontext">Export Data</div>
        </div>
        <div class="menubutton">
          <div class="menubuttonicon menubuttonsignin"></div>
          <div class="menubuttontext">Sign In</div>
        </div>
      </div>
    </div>

    <main role="main">
       <%= yield %>
    </main>
  </body>
</html>
